# Dependencies
node_modules/
.pnpm-store/

# Builds and Cache
.turbo/
dist/
build/
.next/
out/
web-build/
.expo/
*.tsbuildinfo

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup
*.env

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
